.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    background-color: #fff;
    max-width: 780px;
    margin: auto;
}

.site-header {
    grid-area: header;
    padding-bottom: 20px;
}

.site-main {
    grid-area: main;
    background-color:purple;
}

.post {
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-areas:
            "avatar content";
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.post-avatar {
    grid-area: avatar;
    background-color: #F0F2F5;
    padding: 10px;
}

.post-content {
    grid-area: content;
    background-color: #F0F2F5;
    padding: 10px;
}

.post-content p {
    margin-top: 0;
}


.site-footer {
    grid-area: footer;
}